@import url('https://fonts.googleapis.com/css?family=Big Shoulders Display:100,200,300,400,500,600,700|Fjalla One:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Roboto Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');



html,
body {
    width: 100%;
    height: 100%;
    margin: 0vw;
    padding: 0vw;
    
}

/*------------------------------- Nav Bar ---------------------------------*/

.navbar {
  background-color: transparent;
  margin-bottom: -12vh;
  
}

li a,a:hover,a:visited,a:link,a:active {
  text-decoration: none;
  color:#fafafa;
}

.navbar-brand {
  font-family: "Roboto";
  font-size: 4vh;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: -2vh;
  padding-left: 4vw;
  padding-top: 3vh;
}

.nav-link {
  font-family: "Roboto";
  font-size: 2vh;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: -2vh;
  padding-left: 4vw;
  padding-top: 6vh;
}

.navbar-fixed-top.scrolled {
  color: #808080;
  background-color: #fafafa !important;
  transition: background-color 400ms ease-in-out;
}

/*------------------------------- Background & Landing page---------------------------------*/

#background-image{
  width: 100vw;
  height: 105vh;
  animation: breath 18s ease-in-out alternate infinite;
  background: url("images/LrgMaybeBetter-fixed.jpg");
  background-size: cover;
  background-position:0 -110px;
  background-repeat: no-repeat;
  
  z-index: -1;
}

@keyframes breath {
  from { 
    transform: scale(1.0);
  }
  to {
    transform: scale(1.10)
  }
}

 
.landing-box {
  position: absolute;
  min-height: 100%;
  min-width: 100%; color: #fafafa;
  font-family: "Roboto";
  font-weight: 600;
  z-index: 1;
}

.top-line {
  position: relative;
  top: 44vh;
  left: 10vw;
  font-size: 12.5vh;
  line-height: 14vh;
  opacity: .9;
}

.bottom-line {
  position: relative;
  top: 12vh;
  left: 10.5vw;
  font-size: 2.6vh;
  padding-top: 1vh;
  opacity: .8;
}

/*------------------------------- About Us / Mobility Section  ---------------------------------*/

#aboutUs-box {
  position: relative;
  height: 100vh;
  min-width: 100vw;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#aboutUs {
  position: relative;
  top: 27vh;
  left: 22vw;
  max-height: 50%;
  max-width: 55%;
  color: #202020;
  font-family:"Roboto";
  font-weight: 400;
  font-size: 3vh;
}

#quizBox {
  position: relative;
  min-width: 100vw;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  max-width: 95%;
  color: #008ae6;
  font-family:"Roboto";
  font-weight: 500;
  font-size: 2.7vh;
}

.ind-quizBox {
  padding: 7vh 2vw;
  line-height: 3vh;
}

#boxTitle {
  color: #202020;
  font-family:"Roboto";
  font-weight: 500;
  font-size: 3.7vh;
  padding-top: 3.2vh ;
  padding-bottom: 1vh;
}

#graphMobility {
  top: 2vh;
  padding-right: 3vw;
  position: relative;
  height: 55vh;
  width: 0vw;
}

/*------------------------------- Question Sections / Comparison Graphs  ---------------------------------*/

#graphFood {
  top: 5vh;
  position: relative;
  height: 65vh;
  width: 0vw;
}

#foodBox {
  left: 2vw;
}

#foodBox #boxTitle {
  padding-top: 0vh;
}

#graphHousehold {
  top: 2vh;
  padding-right: 3vw;
  position: relative;
  height: 55vh;
  width: 0vw;
}


#circlePie {
  top: 10vh;
  left: 2vw;
  position: relative;
  height: 60vh;
  margin-bottom: auto;
}

#windRose {
  top: 0vh;
  left: 10vw;
  position: relative;
  height: 85vh;
}

/*------------------------------------ Partners Section --------------------------------------*/

#partnersBox {
  position: relative;
  height: 100vh;
  min-width: 100vw;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.titlePartners {
  position: relative;
  top: 32vh;
  left: 18vw;
  color: #008ae6;
  font-family:"Roboto";
  font-weight: 400;
  font-size: 8vh;
  
}

.textPartners {
  position: relative;
  top: 35vh;
  left: 9vw;
  max-height: 50%;
  max-width: 75%;
  color: #202020;
  font-family:"Roboto";
  font-weight: 400;
  font-size: 3vh;
}

#partnersBar {
  max-width: 90%;
  position: relative;
  top: 42vh;
  left: 3vw;
}

 .fa {
  padding-left: 6vw ;
  font-size: 6vh;
  color: grey;
}

.list-inline-item {
  position: relative;
  font-size: 10vh;
  
}

.goldStandard {
  padding-left: 3vw;
}

.teamtrees {
  padding-left: 3vw;
}

.foe {
  padding-left: 2vw;
}

.wwf {
  padding-left: 2.5vw;
}

.extinction{
  padding-left: 3vw;
}