
@import url('https://fonts.googleapis.com/css?family=Big Shoulders Display:100,200,300,400,500,600,700|Fjalla One:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Roboto Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');




body {
  width: 100%;
  height: 100%;
  margin: 0vw;
  padding: 0vw;
  overflow-x: hidden;
  background-color: #fafafa;   
}

/*------------------------------- Nav Bar ---------------------------------*/

.navbar {
  font-family: "Roboto";
  background-color: transparent;
  margin-bottom: -12vh;
}

  nav a,nav a:hover,nav a:visited,nav a:link,nav a:active {
  color: #fafafa;
  text-decoration: none!important;
}

 .navbar-title {
  font-size: 3vw;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 0;
  padding-left: 4vw;
}

.navbar-nav {
  font-size:  1.5vw;
  font-weight: 600;
  color: #fafafa;
}

#navLink0 {
  top: 24vh;
  position: relative ;
}

#navLink1 {
  top: -37vh;
  position: relative ;
}

#navLink2 {
  top: -10vh;
  position: relative ;
}

#navLink3 {
  top: 15vh;
  position: relative ;
}

.navbar-toggler:focus {
    outline: none!important;
}

  span {
  color: #fafafa;
}

/*------------------------------- Background & Landing page---------------------------------*/

#background-image{
  width: 100%;
  height: 105vh;
  animation: breath 18s ease-in-out alternate infinite;
  background: url("images/LrgMaybeBetter-fixed.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* @keyframes breath {
  from { 
    transform: scale(1.0);
  }
  to {
    transform: scale(1.10)
  }
} */

.landing-box {
  position: absolute;
  top: 40vh;
  max-height: 60vh;
  min-width: 100%; 
  color: #fafafa;
  font-family: "Roboto";
  font-weight: 600;
  z-index: 1;
}

.top-line {
  position: absolute;
  font-size: 9vw;
  line-height: 10vw;
  opacity: .9;
}

.bottom-line {
  position: absolute;
  font-size: 2vw;
  opacity: .8;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .35s linear, color .5s; 
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility .50s, opacity .50s linear, color .5s;
}

/*------------------------------- About Us / Mobility Section  ---------------------------------*/

#aboutUs-box {
  position: relative;
  height: 100vh;
  min-width: 100vw;
  background-size: cover;
  z-index: 1;
}

#aboutUs {
  position: relative;
  top: 33vh;
  color: #202020;
  font-family:"Roboto";
  font-weight: 400;
  font-size: 2vw;
}

#introBox {
  padding-top: 20vh;
  min-height: 100vh;
  min-width: 100vw;
}

.getting-started {
  position: relative;
  color: #33adff;
  font-family:"Roboto";
  font-weight: 500;
  font-size: 6vw;
}

.text-below {
  position: relative;
  color: #202020;
  font-family:"Roboto";
  font-weight: 400;
  font-size: 2vw; 
}

#quizBox {
  position: relative;
  min-width: 100vw;
  background-size: cover;
  z-index: 1;
  color: #008ae6;
  font-family:"Roboto";
  font-weight: 500;
  font-size: 2vw;
}

.ind-quizBox {
  padding: 7vh 2vw;
  line-height: 3vh;
}

#boxTitle {
  color: #202020;
  font-weight: 500;
  font-size: 3vw;
  padding-top: 3.2vh ;
  padding-bottom: 0vh;
}

#graphMobility {
  top: 2vh;
  position: relative;
  height: 55vh;
}



/*------------------------------- Question Sections / Comparison Graphs  ---------------------------------*/

.foodBoth {
  padding-top: 7vh;
}

#graphFood {
  top: 2vh;
  position: relative;
  height: 55vh;
  width: 0vw;
}

.houseBoth {
  padding-top: 10vh;
}

#householdBox #boxTitle {
  padding-top: 0vh;
}

#graphHousehold {
  top: 10.5vh;
  position: relative;
  height: 57vh;
  width: 0vw;
}

#displayBox{
  min-height: 70vh;
  min-width: 100vw;
}

#circlePie {
  top: 8vh;
  height: 65vh;
}

#windRose {
  top: 2vh;
  height: 75vh;
  margin-bottom: 2vh;
}



/*------------------------------------ Partners Section --------------------------------------*/

#partnersBox {
  position: relative;
  max-height: 100vw;
  min-width: 100vw;
  font-family:"Roboto";
  background-size: cover;
  z-index: 1;
}

.titlePartners {
  position: relative;
  color: #33adff;
  font-weight: 500;
  font-size: 6vw;  
}

.textPartners {
  position: relative;
  color: #202020;
  font-weight: 400;
  font-size: 2vw;
}

#partnersBar {
  max-width: 100%;
  position: relative;
  top: 5vh;
  padding-bottom: 5vw;
}

.list-inline-item {
  position: relative;
}

.foe {
  margin-left: -1vw;
}

.wwf {
  margin-left: -1vw;
}



/*------------------------------------ Media Queries --------------------------------------*/


@media only screen and (max-width:3000px) {
  
  .navbar-title {
  left: 3vw;
  font-size: 2.1vw;
}

  .navbar-nav {
  font-size:  1.05vw;
}

  #background-image{
  height: 105vh;
  background-position:-10px -140px;
}

  .top-line {
  top: 4vw;
  font-size: 6.2vw;
  line-height: 6.6vw;
}

  .bottom-line {
  left: .5vw;
  top: 4vw;
  margin-top: 0vh;
  font-size: 1.3vw;
}

  #aboutUs-box {
  height: 100vh;
}

  #aboutUs {
  left: 1vw;
  max-width: 75%;
  font-size: 1.4vw;
}

  #introBox {
  min-height: 100vh;
}

  .getting-started {
  top: 15vh;
  text-align: center;
  left: 0vw;
  font-size: 4.2vw;
}

  .text-below {
  top: 15vh;
  left: 0vw;
  font-size: 1.4vw;
  padding-top: 1vh;
}

  #quizBox {
  font-size: 1.5vw;
}

  .ind-quizBox {
  padding: 5vh 2vw;
  line-height: 2.2vw;
}

  #boxTitle {
  text-indent: 0vw;
  font-size: 2.7vw;
}

  #mobilityBox {
   padding: 15vw 0vw;   
}

  #graphMobility {
  left: -1vw;
  top: 2vw;
  height: 35vw;
}

  label {
  text-indent: -1vw;
}

  .foodBoth {
   padding-bottom: 20vw;   
}

  #graphFood {
  left: 1vw;
  top: 1vw;
  height: 33vw; 
}

  .houseBoth {
   padding-bottom: 15vw;   
  }

  #graphHousehold {
  left: 1vw;
  top: 1vw;
  height: 44vw; 
}

  #windRose {
  left: -3vw;
}

  .titlePartners {
  top: 22vh;
  left: 0vw;
  font-size: 4.2vw;
}

  .textPartners {
  top: 22vh;
  left: 1vw;
  font-size: 1.4vw;
  padding-top: 1vh;
}

  #partnersBar {
  max-width: 95%;
  top: 40vh;
  left: 5.5vw;
}

  .goldStandard img{
  width: 22vw;
  padding-right: -1vw;
}

  .teamtrees img{
  width: 11vw;
  padding-right: -1vw;
}

  .foe img{
  width: 12vw;
  padding-right: -1vw;
}

  .wwf img{
  width: 8vw;
  height: 10vw;
  padding-left: 1vw;
}

  .extinction img{
  width: 11vw;
  padding-left: 4vw;
}
}


@media only screen and (max-width:1200px) {
  
.navbar-title {
  font-size: 2.5vw;
  left: 2.5vw;
}

.navbar-nav {
  font-size: 1.2vw;
}

#background-image{
  height: 105vh;
  background-position:-150px -100px;
}

  .top-line {
  font-size: 6vw;
  line-height: 6.5vw;
}

  .bottom-line {
  margin-top: -0.7vh;
  font-size: 1.6vw;
}

  #aboutUs-box {
  height: 100vh;
}

  #aboutUs {
  left: 1vw;
  max-width: 75%;
  font-size: 1.5vw;
}

  #introBox {
  min-height: 100vh;
}

  .getting-started {
  top: 15vh;
  text-align: center;
  left: 1vw;
  font-size: 4.5vw;
}

  .text-below {
  top: 15vh;
  left: 1vw;
  font-size: 1.5vw;
  padding-top: 1vh;
}

  #quizBox {
  font-size: 1.6vw;
}

  .ind-quizBox {
  padding: 5vh 2vw;
  line-height: 3.2vw;
}

  #boxTitle {
  text-indent: -1vw;
  font-size: 3vw;
}

  #mobilityBox {
   padding-top: 7.5vw;
   padding-bottom: 15vw; 
}

  #graphMobility {
  left: -1vw;
  top: 7vw;
  height: 45vw;
}

  label {
  text-indent: -1vw;
}

  .foodBoth {
   padding-bottom: 15vw;   
}

  #graphFood {
  left: 1vw;
  top: 8vw;
  height: 40vw; 
}

  .houseBoth {
   padding-bottom: 15vw;   
  }

  #graphHousehold {
  left: 1vw;
  top: 7vw;
  height: 55vw; 
}

  .titlePartners {
  top: 0vw;
  left: 0vw;
  font-size: 4.5vw;
}

  .textPartners {
  top: 0vw;
  left: 3vw;
  font-size: 1.5vw;
  padding-top: 1vh;
}

  #partnersBar {
  max-width: 95%;
  top: 15vw;
  left: 9vw;
}

  .goldStandard img{
  width: 20vw;
  padding-right: -1vw;
}

  .teamtrees img{
  width: 11vw;
  padding-right: -1vw;
}

  .foe img{
  width: 12vw;
  padding-right: -1vw;
}

  .wwf img{
  width: 9vw;
  height: 12vw;
  padding-right: -1vw;
}

  .extinction img{
  width: 11vw;
  padding-right: -1vw;
} 
} 

@media only screen and (max-width:995px) {
  
 .navbar-title {
  font-size: 2.7vw;
  left: 3vw;
}

 .navbar-nav {
  font-size: 1.5vw;
}
  
  #background-image{
  height: 105vh;
  background-position:-150px -100px;
}

  .top-line {
  font-size: 8vw;
  line-height: 8.5vw;
}

  .bottom-line {
  margin-top: 0vh;
  font-size: 1.7vw;
}

  #aboutUs-box {
  height: 80vw;
}

  #aboutUs {
  left: 1vw;
  max-width: 75%;
  font-size: 2.2vw;
}

  #introBox {
  height: 80vw;
}

  .getting-started {
  top: 15vw;
  text-align: center;
  left: 1vw;
  font-size: 5vw;
}

  .text-below {
  top: 15vw;
  left: 1vw;
  font-size: 2.2vw;
  padding-top: 1vh;
}

  #quizBox {
  font-size: 2vw;
}

  .ind-quizBox {
  padding: 5vh 2vw;
  line-height: 3.2vw;
}

  #boxTitle {
  text-indent: -2vw;
  font-size: 3.8vw;
}

  #mobilityBox {
   padding: 15vw 0vw;   
}

  #graphMobility {
  left: -1vw;
  top: 6vh;
  height: 54vh;
}

  label {
  text-indent: -3vw;
}

  .foodBoth {
   padding-bottom: 10vw;   
}

  #graphFood {
  left: 1vw;
  top: 6vh;
  height: 57vh; 
}

  .houseBoth {
   padding-bottom: 15vw;   
  }

  #graphHousehold {
  left: 1vw;
  top: 10vw;
  height: 63vw; 
}

  .titlePartners {
  top: 1vw;
  left: 0vw;
  font-size: 6vw;
}

  .textPartners {
  top: 1vw;
  left: 3vw;
  font-size: 2.2vw;
  padding-top: 1vh;
}

  #partnersBar {
  max-width: 95%;
  top: 20vw;
  left: 8.5vw;
}

  .goldStandard img{
  width: 20vw;
  padding-right: -1vw;
}

  .teamtrees img{
  width: 11vw;
  padding-right: -1vw;
}

  .foe img{
  width: 12vw;
  padding-right: -1vw;
}

  .wwf img{
  width: 11vw;
  height: 14vw;
  padding-right: -2vw;
}

  .extinction img{
  width: 12vw;
  padding-right: 0vw;
} 

}


@media only screen and (max-width:770px) {
  
  .navbar-title {
  font-size: 3vw;
}

  .navbar-nav {
  font-size:  1.5vw;
}
  
  #background-image{
  height: 105vh;
  background-position:-150px -100px;
}

  .top-line {
  left: 3vw ;
  font-size: 8vw;
  line-height: 8vw;
}

  .bottom-line {
  left: 3vw ;
  margin-top: -1.5vh;
  font-size: 2vw;
}

  #aboutUs-box {
  height: 100vh;
}

  #aboutUs {
  left: 1vw;
  max-width: 75%;
  font-size: 2.3vw;
}

  #introBox {
  min-height: 100vh;
}

  .getting-started {
  top: 15vh;
  left: 1vw;
  font-size: 6vw;
}

  .text-below {
  top: 15vh;
  left: 1vw;
  font-size: 2.3vw;
  padding-top: 1vh;
}

  #quizBox {
  font-size: 2.5vw;
}

  .ind-quizBox {
  padding: 5vh 2vw;
  line-height: 3.2vw;
}

  #boxTitle {
  text-indent: -2vw;
  font-size: 4.5vw;
}

  #mobilityBox {
   padding: 18vw 0vw;   
}

  #graphMobility {
  left: -1vw;
  top: 11vw;
  height: 60vw;
}

  label {
  text-indent: -4vw;
}

  .foodBoth {
   padding-bottom: 15vw;   
}

  #graphFood {
  left: 1vw;
  top: 11vw;
  height: 55vw; 
}

  .houseBoth {
   padding-bottom: 15vw;   
  }

  #graphHousehold {
  left: 1vw;
  top: 14vw;
  height: 75vw; 
}

  #circlePie {
  padding-bottom: 7vw;
}

  #windRose {
  left: 1vw;
}

  .titlePartners {
  top: 12vh;
  left: 0vw;
  font-size: 5vw;
}

  .textPartners {
  top: 14vh;
  left: 3vw;
  font-size: 2.3vw;
  padding-top: 1vh;
}

  #partnersBar {
  max-width: 95%;
  top: 32vw;
  left: 8vw;
}

  .goldStandard img{
  width: 18vw;
  padding-right: -1vw;
}

  .teamtrees img{
  width: 10vw;
  padding-right: -1vw;
}

  .foe img{
  width: 11vw;
  padding-right: -1vw;
}

  .wwf img{
  width: 10vw;
  height: 13vw;
  padding-right: -2vw;
}

  .extinction img{
  width: 12vw;
  padding-right: -1vw;
}  
}

@media only screen and (max-width:577px) {
  
  .navbar-title {
  font-size: 3.5vw;
}
  
 .navbar-nav {
  font-size:  2.2vw;
} 

  #background-image{
  height: 105vh;
  background-position:-250px -100px;
}

  .top-line {
  font-size: 10vw;
  line-height: 11vw;
}

  .bottom-line {
  margin-top: -1.5vh;
  font-size: 2.7vw;
}

  #aboutUs-box {
  height: 100vh;
}

  #aboutUs {
  left: 14vw;
  max-width: 75%;
  font-size: 3vw;
}

  #introBox {
  min-height: 100vh;
}

  .getting-started {
  top: 15vh;
  left: 13.5vw;
  max-width: 75%;
  font-size: 7vw;
}

  .text-below {
  top: 15vh;
  left: 13.5vw;
  max-width: 75%;
  font-size: 3vw;
  padding-top: 1vh;
}

  #quizBox {
  font-size: 3.5vw;
}

  .ind-quizBox {
  padding: 5vh 2vw;
  line-height: 6vw;
}

  #boxTitle {
  text-indent: -2vw;
  font-size: 6vw;
}

  #mobilityBox {
   padding: 25vw 0vw;   
}

  #graphMobility {
  left: -3vw; 
}

  label {
  text-indent: -4vw;
}

  .foodBoth {
   padding-bottom: 25vw;   
}

  #graphFood {
  left: -3vw; 
}

  .houseBoth {
   padding-bottom: 15vw;   
  }

  #graphHousehold {
  top: -.1vh;
  left: -3vw; 
}

  #circlePie {
  padding-bottom: 7vw;
}

  #windRose {
  left: 1vw;
}

  .titlePartners {
  top: 10vw;
  left: 11vw;
  max-width: 75%;
  font-size: 7vw;
}

  .textPartners {
  top: 11vw;
  left: 13vw;
  max-width: 75%;
  font-size: 3vw;
  padding-top: 1vh;
}

  #partnersBar {
  max-width: 95%;
  top: 25vw;
  left: 2vw;
}

  .goldStandard img{
  width: 20vw;
  padding-right: -1vw;
}

  .teamtrees img{
  width: 11vw;
  padding-right: -1vw;
}

  .foe img{
  width: 12vw;
  padding-right: -1vw;
}

  .wwf img{
  width: 11vw;
  height: 14vw;
  padding-right: -1vw;
}

  .extinction img{
  width: 12vw;
  padding-right: -1vw;
} 
}


@media only screen and (max-width:410px) {
  
  .navbar-title {
  font-size: 4.5vw;
}

  .navbar-nav {
  font-size:  2.5vw;
}
  
  #background-image{
  height: 200vw;
  background-position:-275px -50px;
}

  .top-line {
  font-size: 10vw;
  line-height: 11vw;
}

  .bottom-line {
  margin-top: -1.5vh;
  font-size: 2.7vw;
}

  #aboutUs-box {
  height: 170vw;
}

  #aboutUs {
  left: 14vw;
  max-width: 75%;
  font-size: 3.5vw;
}

  #introBox {
  height: 170vw;
}

  .getting-started {
  top: 20vw;
  left: 13.5vw;
  max-width: 75%;
  font-size: 7vw;
}

  .text-below {
  top: 20vw;
  left: 13.5vw;
  max-width: 75%;
  font-size: 3.5vw;
  padding-top: 1vw;
}

  #quizBox {
  font-size: 4.5vw;
}

  .ind-quizBox {
  padding: 4vh 2vw;
  line-height: 6vw;
}

  #boxTitle {
  font-size: 7vw;
}

  #mobilityBox {
   padding-top: 10vw;  
   padding-bottom: 10vw;  
  }

  #graphMobility { 
  left: 1vw;
  height: 100vw;
  padding-right: 4vw;
}

  label {
  text-indent: -7vw;
}

  #graphFood {
  top: 1vw;
  height: 100vw;
  padding-right: 4vw; 
}

  .foodBoth {
   padding-bottom: 5vw;   
}
  
  #graphHousehold {
  top: 1vw;
  height: 110vw;
  padding-right: 4vw;
}

  .houseBoth {
   padding-bottom: 1vw;   
}

  #circlePie {
  top: 50vw;
  height: 95vw;
}

  #windRose {
  left: 0vw;
  top: 50vw;
  height: 90vw;
}

  .titlePartners {
  top: 40vw;
  left: 11vw;
  max-width: 75%;
  font-size: 7vw;
}

  .textPartners {
  top: 40vw;
  left: 13vw;
  max-width: 75%;
  font-size: 3.5vw;
  padding-top: 1vw;
}

  #partnersBar {
  max-width: 95%;
  top: 55vw;
  left: 6.5vw;
}

  .goldStandard img{
  width: 14vw;
  padding-right: -1vw;
}

  .teamtrees img{
  width: 9vw;
  padding-right: -1vw;
}

  .foe img{
  width: 10vw;
  padding-right: -1vw;
}

  .wwf img{
  width: 9vw;
  height: 10vw;
  padding-right: -1vw;
}

  .extinction img{
  width: 10vw;
  padding-right: -1vw;
  padding-left: 1vw;
}
}